*{
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .game-container { 
    position: relative;
    width: 240px;
    height: 208px;
    background: url(./images/map.png) no-repeat no-repeat;
    transform: scale(3);
    image-rendering: pixelated;
  }

  .player-info {
    position: absolute;
    top: 0;
    left:0;
    padding: 1em;
    display: flex;
    gap: 0.5em;
    align-items: flex-end
  }

  input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  
    margi: 30px;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
  
  }
input[type="text"]:focus {
  border-color: #f000ff;
}
  
button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}

.button {
 width: 6.5em;
 height: 2.3em;
 
 background: #1e830b;
 color: white;
 border: none;
 border-radius: 0.625em;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

button:hover {
 color: black;
}



button:after {
 content: "";
 background: #59ff5a;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

button:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}

.grid-cell{
  position : absolute;
  width: 16px;
  height: 16px;
}

.Character{
  transition: transform 0.4s;
}

.Character.you{
  z-index: 1;
}

.Character.you.Character_you-arrow{
  display: block;
}

.Character_you-arrow{
  display: noe;
  position: absolute;
  top: -18px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(./images/arrow.png) no-repeat ;
}

.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(./images/characters.png);
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: 16px;
}
.Character[data-color="red"] .Character_sprite {
  background-position-y: -16px;
}
.Character[data-color="orange"] .Character_sprite {
  background-position-y: -32px;
}
.Character[data-color="yellow"] .Character_sprite {
  background-position-y: -48px;
}
.Character[data-color="green"] .Character_sprite {
  background-position-y: -64px;
}
.Character[data-color="purple"] .Character_sprite {
  background-position-y: -80px;
}
.Character_shadow {
  background: url(./images/shadow.png) no-repeat no-repeat;
}

.Character_shadow{
  background: url(./images/shadow.png) no-repeat no-repeat;
}

.Character_name-container{
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.Character_coins{
  margin-left: 1px;
  color: gold;
}

.Coin_sprite{
  background: url(./images/coin.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse;
}
  
@keyframes coinFloat {
  from {transform:translateY(0)}
  to {transform: translateY(5px);}
}

.Coin_shadow{
  background: url(./images/coin-shadow.png) no-repeat no-repeat;
}